#root {
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.main-loader{
  width: 100vw;
  height: 50vw;
  display: flex;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
}

body {
  background-image: url('/img/header-background_webp.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

